<app-nav-bar></app-nav-bar>

<section>
    <div class="FormularioContainer">

        <div class="Identificacao">
            <div>   
                <p>Nome<span> *</span></p>
                <p>Sobrenome<span> *</span></p>
            </div>
            <div>
                <input type="text">
                <input type="text" name="" id="">
            </div>
            
        </div>

        <div class="Assunto">
            <div class="div1">
                <p>E-mail<span> *</span></p>
                <input type="email" name="" id="">
            </div>
            
            <div class="div2">
                <p>Assuntno<span> *</span></p>
                <input type="text" name="" id="">
            </div>
            
            <div class="div3">
                <p>Menssagem<span> *</span></p>
                <input type="text">
            </div>
            
            <button class="btnAzul">
                Enviar
            </button>
        </div>

        
            
        
        
         
    </div>
</section>

<app-footer></app-footer>
