section{
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
   

    div.Contatos{
        display: flex;
        gap: 10px;
    }
}