<app-nav-bar></app-nav-bar>

<section>
    
    <h1>
        {{titulo}}
    </h1>
    <p>
        Sou um parágrafo. Aqui você pode adicionar e editar seu
        próprio texto. É fácil, basta clicar em "Editar texto"
        ou clicar duas vezes sobre mim. Você também pode
        alterar a fonte e mais. Sou um ótimo lugar para você
        compartilhar a sua história.
    </p>

    <div curriculoDirective>
        <div class="Descricao">
            <h2>
                Projeto
            </h2>

            <p>
                Função
            </p>

            <p>
                Sou um parágrafo. Aqui você pode adicionar e editar
                seu próprio texto. É fácil, basta clicar em 
                "Editar texto" ou clicar duas vezes sobre mim. 
                Você também pode alterar a fonte e mais. Sou um ótimo 
                lugar para você compartilhar a sua história
            </p>
        </div>

        <div class="Imagem">
            <img src="/assets/perfil.jpg" alt="">
        </div>
    </div>
</section>
<app-footer></app-footer>