section{
   
   padding: 100px;
    background: linear-gradient(to left, #ffffff 55%, #E6DACE 40%);
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 100px;
        font-weight: 900;
        font-family: "Didact Gothic";

        
    }

    div.BtnsDiv{
        display: flex;
        align-items: center;
        gap: 10px;

    button.Btn{
        padding: 6px 25px;
        border-radius: 45px;
        
        
    }
    button.btnAzul{
        background-color: #0050FF;
        color: #fff;
        border: 2px solid #0050FF;
         &:hover{
            background-color: #FFF;
            color: #000;
        } 
    }
    button.btnBranco{
        background-color: #FFF;
        color: #000000;
        border: 2px solid #000000;
         &:hover{
            background-color: #0050FF;
            color: #ffffff;
            border: 2px solid #0050FF;
        }
    }
    }
    
    div.paragrafos{
        display: flex;
        flex-direction: column;
        gap: 5px;
        

        p.ApresentacaoParagrafo{
            
            text-align: justify;
            hyphens: auto;
            text-indent: 20px;
            line-height: 1.3;
            font-size: 0.8rem;
            color: #000000;
            
            letter-spacing: 0.2px;
        }
    }
    
}