<app-nav-bar></app-nav-bar>


<section>
    <app-apresentacao></app-apresentacao>
    <div oladirective>
        <h1>Olá</h1>
        

       <p>Meu perfil e meus projetos</p> 

        <div class="BtnsDiv">
            <button class="btnAzul Btn">CURRÍCULO</button> 
            <button class="btnBranco Btn">PROJETOS</button>
        </div>
       
         
        <div class="paragrafos">
            <p class="ApresentacaoParagrafo"> 
            Sou um desenvolvedor Fullstack em formação,
            apaixonado por tecnologia e por criar soluções eficientes.
            
            
    
        </p>

        <p class="ApresentacaoParagrafo">
            Atualmente curso ADS na Uniasselvi e utilizo no dia a dia 
            Angular, TypeScript, HTML, SCSS, C# e .NET.
        </p>

        <p class="ApresentacaoParagrafo">
            Busco evoluir constantemente, aplicando boas práticas de 
            desenvolvimento, organização de código e foco em performance
            para entregar aplicações modernas e bem estruturadas.
        </p>
        </div>
        
    </div>
    


</section>

<app-footer></app-footer>
