<app-nav-bar></app-nav-bar>


<section>
    <app-apresentacao></app-apresentacao>
    <div oladirective>
        <h1>Olá</h1>
        

       <p>Meu perfil e meus projetos</p> 

        curriculo projetos
        <p> 
            Sou um parágrafo. Aqui você pode adicionar seu texto. É fácil, basta clicar em 
            "Editar texto" ou clicar duas vezes sobre mim para editar o conteúdo, a fonte e mais.
            Sou um ótimo lugar para você contar a sua história e compartilhar sobre você.
    
        </p>
    </div>
    


</section>
