nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    background-color: aqua;
    padding: 50px;

    li{
        display: inline-block;
        margin: 5px;
    }
}