div.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding: 50px;
        p{
            display: flex;
            align-items: baseline;

             span.prefix{
                font-size: 30px;
                
            }
            span.nome{
                margin-left: 10px;
                font-size: 30px;
                font-weight: 700;
            }

            span.suffix{
                font-size: 20px;
                font-weight: 200;
                margin-left: 10px;
                
            }
            
            
        }
        
    ul{
        list-style: none;
        display: flex;
        gap: 10px;
        li{
            a{
              text-decoration: none; 
              font-size: 14px;
              font-weight: 200;
              color: #000;
                &:hover{
                    color:#0050FF ;
                }
            }
        }
    }
}