<app-nav-bar></app-nav-bar>

<section>

    <h1>
        {{ titulo }}
    </h1>

    <div class="containerCV">
        <p class="textosXP">
            Experiência
        </p>

        <button class="btnAzul">
            BAIXAR CV
        </button>
    </div >

    <div curriculoDirective>
        <div class="pTitulo">
            <p class="pData"> 
                2025 - 2025
            </p>
            <p class="pCargo">
                Desenvolvedor Front-End
            </p> 
            <p class="pEmpresa">
                Carioca Nautica
            </p>
        </div>

        <div class="pDescricao">
             <p>
                Sou um parágrafo. Aqui você pode adicionar seu 
                texto. É fácil, basta clicar em "Editar texto" ou
                clicar duas vezes sobre mim para editar o conteúdo
                , a fonte e mais.
                Sou um ótimo lugar para você contar a sua 
                história e compartilhar sobre você.
            </p>
        </div>
    </div>

    <p class="textosXP">
        Formação
    </p>

    <div curriculoDirective>
        <div class="pTitulo">
            <p class="pData"> 
                2024 - 2026
            </p>
            <p class="pCargo">
                Análise e Desenvolvimento de Sistemas
            </p> 
            <p class="pEmpresa">
                Uniasselvi
            </p>
        </div>

        <div class="pDescricao">
             <p>
                Sou um parágrafo. Aqui você pode adicionar seu 
                texto. É fácil, basta clicar em "Editar texto" ou
                clicar duas vezes sobre mim para editar o conteúdo
                , a fonte e mais.
                Sou um ótimo lugar para você contar a sua 
                história e compartilhar sobre você.
            </p>
        </div>
    </div>

    <p class="textosXP">        
        Habilidades profissionais
    </p>

    <div class="habilidades" curriculoCDirective>
        <div class="pTitulo">
            <h2>
                Tecnologias
            </h2>
            <div class="Tecnologias">
                <img src="../assets/html.png" alt="">
                <img src="../assets/css-3.png" alt="">
                <img src="../assets/js.png" alt="">
                <img src="../assets/typescript.png" alt="">
                <img src="../assets/angular.png" alt="">
                <img src="../assets/vs.png" alt="">
                <img src="../assets/c-sharp.png" alt="">
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>