@use './variaveis' as *;
/* You can add global styles to this file, and also import other style files */

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Roboto";

     
}
